{:deps {io.github.borkdude/lein2deps {:git/url "https://github.com/borkdude/lein2deps"
                                      :git/sha "e26edeb114c9d88a5c4d3abb683306588fcaad13"}}
 :tasks
 {:requires ([babashka.fs :as fs])

  test:clj (shell "lein test")
  test:cljs (clojure "-M:test:cljs:cljs-test-runner")
  repl:cljs (shell "rlwrap bb clojure -M:test:cljs -m cljs.main -re node")}}
