{:deps {io.github.borkdude/lein2deps {:git/url "https://github.com/borkdude/lein2deps"
                                      :git/sha "e26edeb114c9d88a5c4d3abb683306588fcaad13"}}
 :tasks
 {:requires ([babashka.fs :as fs])

  test:clj (shell (if (fs/windows?)
                    ;; Github actions setup-clojure used Powershell for lein :/
                    "pwsh -command 'lein test'"
                    "lein test"))
  test:cljs (clojure "-M:test:cljs:cljs-test-runner")}}
