{:deps {io.github.borkdude/lein2deps {:git/url "https://github.com/borkdude/lein2deps"
                                      :git/sha "e26edeb114c9d88a5c4d3abb683306588fcaad13"}}
 :tasks
 {:requires ([babashka.fs :as fs])

  test:clj (shell "lein test")

  test:cljs-npm-install (do (shell "npm install -g karma-cli")
                            (shell "npm install"))
  test:cljs (do
              (fs/delete-tree "cljs-test-runner-out")
              (apply clojure "-M:test:cljs:cljs-test-runner" "--env" "chrome-headless" *command-line-args*))
  repl:cljs-node (shell "rlwrap bb clojure -M:test:cljs -m cljs.main -re node")
  repl:cljs-browser (shell "rlwrap bb clojure -M:test:cljs -m cljs.main")

  quickdoc {:extra-deps {io.github.borkdude/quickdoc {:git/tag "v0.2.5", :git/sha "25784ca"}}
            :requires ([quickdoc.api :as api])
            :task (api/quickdoc {:source-paths ["src/clj" "src/cljs" "src/cljs"]
                                 :git/branch "master"
                                 :github/repo "https://github.com/clj-commons/hickory"})}}

 }
